<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="Web site created using create-react-app"
        />
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script type="text/javascript">
            current="sidebar-button-1";
            function currentActive(value){
                document.getElementById(current).classList.remove('active');
                document.getElementById(value).classList.add('active');
                current=value;            
            }
        </script>
    </head>
    <body>
        <!-- <div class = "container"> -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/restaurants">YelpCamp</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <% if(!currentUser){ %>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Sign Up</a></li>
                            <% } else{ %>
                                <li><a href = "#">Signed in as <%= currentUser.username%></a></li>
                                <li><a href="/logout">Logout</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        <!-- </div> -->

        <div class="container">
            <% if(success && success.length>0){ %>
                <div class="alert alert-success" role="alert"><%= success%></div>
            <% } %>
            <% if(error && error.length>0){ %>
                <div class="alert alert-danger" role="alert"><%= error%></div>
            <% } %>
        </div>