<!DOCTYPE html>
<html>
<head>
  <title>RestNEat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>

  <div id="landing-header">
    <h1><a class="entryLink" href="/campgrounds">Welcome to RestNEat</a></h1>
    <a class="entryLink" href="/campgrounds">View your Favourite Restaurants here</a>
  </div>
  
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container">
<%- include ("./partials/footer") %>