<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta
      name="description"
      content="Web site created using create-react-app"
  />
  <title>RestNEat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>

  <div id="landing-header">
    <h1><a class="entryLink" href="/restaurants">Welcome to RestNEat</a></h1>
    <a class="entryLink" href="/restaurants">View your Favourite Restaurants here</a>
  </div>
  
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container">
<%- include ("./partials/footer") %>