body{
    background-color: white;
}
.thumbnail img{
    width: 100%;
    height: 60%;
}

@media screen and (max-width: 770px) {
    .thumbnail img{
        width: 100vw;
        height: 50vh;
        /* min-width: 600px !important; */
    }
}
.thumbnail{
    padding: 0px;
}
.thumbnail .caption-full{
    padding: 9px;
}

#delete-form{
    display: inline;
}

.display-menu{
    display: block;
    margin: 0 auto;
}